:root{
    --lightred: hsl(0, 100%, 67%);

    --orangeyyellow: hsl(39, 100%, 56%);

    --greenteal: hsl(166, 100%, 37%);

    --cobaltblue: hsl(234, 85%, 45%);

    /* Gradients */

    --lightslateblue: hsl(252, 100%, 67%);

    --lightroyalblue: hsl(241, 81%, 54%);

    --violetblue: hsla(256, 72%, 46%, 1);

    --persianblue: hsla(241, 72%, 46%, 0);

    /* Neutral */

    --white: hsl(0, 0%, 100%);

    --paleblue: hsl(221, 100%, 96%);

    --lightlavender: hsl(241, 100%, 89%);

    --darkgrayblue: hsl(224, 30%, 27%);

    --gradiente-1: linear-gradient(180deg, #4d21c9 0%, #2521c9 100%);

    --gradiente-2: linear-gradient(180deg, #7755ff 0%, #2f2ce9 100%);

    /* FONTS */
    --fonte-principal: "Hanken Grotesk", sans-serif;
}