*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

html {
  font-family: var(--fonte-principal);
  font-size: 62.5%;
}

body {
  background: var(--paleblue);
  position: relative;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: var(--white);
  border-radius: 24px;
  height: 35rem;
  width: 70rem;
  display: flex;
}

.resultado {
  color: var(--white);
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--lightroyalblue);
  height: 35rem;
  width: 50%;
  border-radius: 2.4rem;
}

.titulo {
  color: var(--lightlavender);
  font-weight: 100;
  font-size: 1.8rem;
  margin-top: 2rem;
}

.nota {
  display: flex;
  flex-direction: column;
  align-self: center;
  height: 14rem;
  width: 14rem;
  padding: 2rem;
  border-radius: 50%;
  margin-top: 2rem;
  background: var(--gradiente-1);
}

.valor {
  font-size: 5.6rem;
  font-weight: 700;
}

.maximo {
  color: var(--lightlavender);
  font-size: 1.6rem;
  font-weight: 200;
}

.mensagem {
  font-size: 2.6rem;
  font-weight: 600;
  margin-top: 2.4rem;
}

.texto {
  width: 70%;
  padding: 2rem;
  margin-left: 6rem;
  color: var(--lightlavender);
  font-size: 1.4rem;
}

.status {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 3rem;
}

.container__subtitulo{
  margin-top: 2.5rem;
  font-size: 1.6rem;
}

.container__stats {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 1rem 0 2rem;
  font-weight: 600;
}

.container__item {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 12px;
  width: 30rem;  
}

.container__img {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.container__text {
  margin-right: auto;
}

.container__nota {
  margin-left: 1.2rem;
  white-space: nowrap;
} 

.reaction {
  background-color: #fff6f6;
}

.reacao {
  color: #ff5555;
}

.memory {
  background-color: #fffbf4;
}

.memoria {
  color: #ffb21e;
}

.verbal {
  background-color: #f2fcf9;
}

.fala {
  color: #00bb8f;
}

.visual {
  background-color: #f3f4fd;
}

.visao {
  color: #1125d6;
}

.nota__total {
  color: #303b59;
  margin-left: 5px;
}

.submit {
  display: block;
  width: 100%;
  text-align: center;
  padding: 1rem;
  border-radius: 28px;
  background-color: #303b59;
  color: var(--white);
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0rem 1rem 1rem 0rem;
  transition: 0.4s ease-in-out;
} 

.submit:hover{
  background-color: var(--lightslateblue);
}

.attribution{
  position: absolute;
  bottom: 0; 
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}